.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.photo {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.info {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.info-item {
  margin-bottom: 5px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  align-items: center;
}

.load-more-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
